body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-app {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

.todo-title {
  font-size: 35px;
  margin: 30px;
}
.to-do-item {
  display: flex;
  justify-content: space-between;
}

.todo-container {

}
.todo-list-item {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin: 10px;
}